body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #48C9B0;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #48C9B0, #57a900);
    background-image: -ms-linear-gradient(top, #48C9B0, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#48C9B0), to(#57a900));
    background-image: -webkit-linear-gradient(top, #48C9B0, #57a900);
    background-image: -o-linear-gradient(top, #48C9B0, #57a900);
    background-image: linear-gradient(top, #48C9B0, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}
#serch{
    font-family: Assistant;
    font-size: 16px;
}
#lblPlantel{
    font-family: Assistant;
    font-size: 18px;
}

#plantel{
    font-family: Assistant;
    font-size: 16px;
}
h4{
    font-family: Assistant;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #48C9B0;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}
